{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Welcome to the Araf Tower-2 Residential Society!</h2>
    <p class="text-center">Dear Residents and Members,</p> <br><br>
    <p class="text-center">We are delighted to welcome you to the Araf Tower-2 Residential Society Portal, your centralized hub for managing funds, expenses, and utilities. This platform has been designed with the aim of enhancing communication, transparency, and convenience within our vibrant community..</p>


    </div>
  </div>
{% endblock %}
