<!-- member_list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Member List</h2>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.society_designation }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.phone_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
